
#root {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  background-color: #17171C;
  font-size: 10px;
}
input, button{
  font-size: 10px;
}
header{
  text-align: start;
}
section{
  width: 50%;
  margin: auto;
}
.boxAddItems{
  border-radius: 1%;
  padding: 5px;
  overflow: hidden;
  background-color: #242429;
  border-radius: 15px;
}
.boxAddItems div{
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.boxAddItems h2{
  text-align: start;
}
.addItems{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 20px;
  margin-bottom: 25px;
}
.addItems input{
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: #17171C;
  padding: 0 10px;
  margin-right: 5px;
}
.view-items{
  overflow: hidden;
  
}
.view-button{
  overflow: hidden;
}
/* Para Chrome, Safari, Edge e Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Para corrigir o espaçamento deixado após a remoção */
}
/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.addItems input[type="number"]{
  width: 100%;
}
.addItems input:focus{
  outline: none; /*remover a borda padrão do navegador */
  border: 1px solid #0367E9;
}
.edit-mode{
  overflow: hidden;
  display: flex;
  justify-content: space-between;  
}
.edit-mode input{
  width: 90%;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 5px;
  border: none;
  background-color: #17171C;
  padding: 0 10px;
}
.addItems button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  margin-left: 10px;
  padding: 5px 15px;
  padding: 5px;
  background-color:#0367E9 ;
  font-weight: bold;
  cursor: pointer;
}
.editingItem{
  width: 85%;
  overflow: hidden;
  /* background-color: red; */
}
.edit-buttons{
  display: flex;
  flex-direction: column;
  
  overflow: hidden;
  /* background-color: blueviolet; */
}
.edit-buttons button{
  margin-bottom: 5px;
}
h1{
  text-align: start;
  font-size: 30px;
}
.error{
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error img{
  width: 20px;
  margin-left: 10px;
  /* background-color: aquamarine; */
}
.itemsList{
  margin-top: 20px;
  border-radius: 10px;
}
.items{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgb(100, 100, 100);
  background-color: #242429;
  overflow: hidden;
}
.items ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  
}
.view-mode, .edit-mode{
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.item-name{
  margin: 0;
  padding: 0;
}
.item-price{
  margin: 0;
  padding: 0;
}
.item-price p{
  text-decoration: gray;
}
@media (max-width: 700px){
  section{
    width: 100%;
  }
  .addItems{
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

  }
  .addItems input, input[type='number']{
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
  }
  button{
    text-align: center;
  }
  
}