
#root {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  text-align: center;
  background-color: rgba(56, 9, 117, 0.274);
}
header{
  text-align: start;
}
h1{
  text-align: start;
  font-size: 30px;
}
.error{
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.error img{
  width: 25px;
  margin-left: 10px;
  /* background-color: aquamarine; */
}